<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>NEW DISTRO</h1>
    <form action="/distros" method="POST">
      Name: <input type="text" name="name">
      Members: <input type="text" name="members">
      Confidential? <input type="checkbox" name="confidential">
      <input type="submit" value="Create New Distro">
    </form>
    <br><br>
    <a href="/distros/">Return to Index</a>
  </body>
</html>
