<header>
  <ul>
    <div class="logo">d<span class='logo-pipe'>|</span><span class='logo-stro'>STRO</span></div>
    <li><a href="/distros/">Distro Index</a></li>
    <li><a href="/contacts/">Contacts Index</a></li>
    <li><a href="/contacts/new/">Create New Contact</a></li>
    <li><a href="#">Populate Email</a></li>
  </ul>
</header>
