/* Specific SHOW PAGE Styles */
* {
  font-family: 'Maven Pro'
}

input {
  border: none;
  outline: none;
  background-color: #f9823f;
  font-family: 'Maven Pro';
  font-size: 3vw;
}

input:hover {
  border: none;
  outline: none;
}

.email-input > input {
  width: 75%
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.name-container {
  display: flex;
  justify-content: space-between;
}

#update-button {
  border-radius: 20px;
  background-color: #EAB003;
  border: 1px solid black;
}

#update-button:hover {
  cursor: pointer
}

.tool-button-container {
  display: flex;
  flex-direction: row;
}

#delete-button {
  background-color: #ff5c00;
  font-family: 'Maven Pro';
  font-size: 3vw;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid black;
}

#delete-button:hover {
  cursor: pointer;
}

.contact-name {
  font-size: 5vw;
  background-color: #ff5c00;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 5px 5px 5px 15px;
  width: 50%;
}

.info-container {
  display: flex;
  background-color: #f9823f;
  padding-bottom: 100px;
  border-top-right-radius: 20px;
  padding: 5px 5px 50px 15px;
}

.text-container {
  /* border: 3px solid teal; */
  font-size: 3vw;
}

.contact-footer {
  /* background-image: url('../images/contact-footer-whites.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center; */
  background-color: #f9823f;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.emergency-info {
  display: none;
}
