/* Specific SHOW PAGE Styles */
* {
  font-family: 'Maven Pro'
}

input {
  border: none;
  padding: 0;
  outline: none;
  background-color: #f9823f;
  font-family: 'Maven Pro';
  font-size: 2vw;
}

input:hover {
  border: none;
  outline: none;
  text-decoration: underline;
}

.icon-input {
  background-color: rgba(255, 255, 255, 0.3);
  font-family: 'Maven Pro';
  font-size: 2vw;
  width: 80%;
  text-align: center;
  color: white;
  text-shadow: 1px 2px black;
}

.icon-input:hover {
  border: none;
  outline: none;
}

/* .email-input > input {
  width: 75%
} */

.contact-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

.name-container {
  display: flex;
  align-items: flex-end;
}

.tool-button-container {
  display: flex;
  height: 50%;
}

#update-button {
  background-color: #EAB003;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 1.5vw;
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#update-button:hover {
  cursor: pointer;
  text-decoration: underline;
}


.contact-name {
  font-size: 4vw;
  background-color: #ff5c00;
  color: white;
  text-shadow: 1px 2px black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 5px 5px 5px 15px;
  width: 50%;
}

.info-container {
  display: flex;
  background-color: #f9823f;
  padding-bottom: 100px;
  border-top-right-radius: 20px;
  padding: 5px 5px 5px 15px;
}

.text-container {
  /* border: 3px solid teal; */
  font-size: 2vw;
  width: 60%;
  line-height: 1.6;
}

.distro-container {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.distro-button-container {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid orange; */
}

.distro {
  font-size: 2vw;
  text-decoration: none;
  color: white;
  text-shadow: 1px 2px black;
}

.distro-button {
  width: 70%;
  display: flex;
  background-color: #d7adce;
  border: 2px solid white;
  text-shadow: 1px 2px black;
  margin: 5px;
  border-radius: 4px;
}

.icon-input {
    text-align: left;
    background-color: #d7adce;
    padding-left: 10px;
}

.distro-name {
    text-align: center;
}

.contact-footer {
  background-color: #f9823f;
}


.emergency-info {
  display: none;
}
