/* Specific SHOW PAGE Styles */
* {
  font-family: 'Maven Pro'
}

input {
  border: none;
  outline: none;
  background-color: #f9823f;
  font-family: 'Maven Pro';
  font-size: 3vw;
}

input:hover {
  border: none;
  outline: none;
}

.email-input > input {
  width: 75%
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.name-container {
  display: flex;
  align-items: flex-end;
}

.tool-button-container {
  display: flex;
  height: 50%;
}

#update-button {
  background-color: #EAB003;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 2vw;
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#update-button:hover {
  cursor: pointer
}


.contact-name {
  font-size: 5vw;
  background-color: #ff5c00;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 5px 5px 5px 15px;
  width: 50%;
}

.info-container {
  display: flex;
  background-color: #f9823f;
  padding-bottom: 100px;
  border-top-right-radius: 20px;
  padding: 5px 5px 50px 15px;
}

.text-container {
  /* border: 3px solid teal; */
  font-size: 3vw;
}

.contact-footer {
  background-color: #f9823f;
}


.emergency-info {
  display: none;
}
