.site-container {
  display: flex;
  flex-direction: column;
}

.distros-container {
  border: 2px solid thistle;
  display: flex;
  flex-direction: row;
}

.distro-block {
  border: 2px solid white;
  background: salmon;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
