* {
  font-family: 'Maven Pro'
}

.spacer {
  height: 40px;
}

.info-text {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 1.5vw;
  width: 90%;
  margin: 0 auto;
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.top-tab-container {
  display: flex;
  align-items: flex-end;
}

.tab {
  font-size: 4vw;
  color: white;
  text-shadow: 1px 2px black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 5px 5px 15px;
  width: 40%;
  text-decoration: none;
}

.tab:hover {
  text-decoration: underline;
}

.contacts-tab {
  background-color: #EAB003;
}

.distros-tab {
  background-color: #b05c9d;
  font-size: 3vw;
}

.info-container {
  display: flex;
  background-color: #f0dc8d;
  padding-bottom: 100px;
  border-top-right-radius: 20px;
  padding: 5px 5px 5px 15px;
  max-height: 40vh;
  overflow: scroll;
}

.info {
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
}

.contact-link-container {
  background-color: #EAB003;
  margin: 2px;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 5px;
}

.contact-link {
  color: white;
  text-shadow: 1px 2px black;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

.distro {
    text-align: left;
    background-color: #b05c9d;
    padding: 5px 20px;
    color: white;
    border: 1px solid white;
    margin: 2px;
    text-decoration: none;
    text-shadow: 1px 2px black;
    border-radius: 5px;
}

.distro:hover {
  text-decoration: underline;
}

#full-contacts {

}

#full-distros {

}

.underline {
  text-decoration: underline;
}
