.site-container {
  display: flex;
  flex-direction: column;
}

.distro-container {
  font-size: 3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.distro {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2vw;
  text-decoration: none;
  color: white;
  text-shadow: 1px 2px black;
}

.distro-button {
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/legal-icon.png');
  background-size: contain;
  background-repeat: none;
  /* border: 2px solid teal; */
}

.distro-name {
    text-align: center;
}
