
/* Specific NEW PAGE Styles */
body {
  /* border: 4px solid steelblue; */
}

form {
  /* border: 4px solid salmon; */
  height: 80vh;
}

input {
  width: 80%;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  outline: none;
  border: none;
  /* border: 4px solid teal; */
  opacity: 70%;
  padding: 0 10px;
  font-family: 'Thasadith', serif;
}

input:focus {
  outline: none;
}

.submit-button {
  border: none;
}

/* NAMETAG STYLING */
.nametag {
  border: 1px solid magenta;
  margin: 0 auto;
  height: 0vh;
  /* background-image: url('/images/card-outline.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}

#nametag-name {
  border: 1px solid red;
  font-family: 'Maven Pro', sans-sans-serif;
  font-size: 10vw;
  color: white;
  background-color: #EAB003;
  border-top-left-radius: 20px;
  padding: 5px 5px 5px 15px;
  margin-bottom: 15px;
}

#nametag-title {
  border: 1px solid orange;
}

#nametag-department {
  border: 1px solid yellow;
}

#nametag-email {
  border: 1px solid green;
}

#nametag-distros {
  border: 1px solid blue;
}
