
/* Specific NEW PAGE Styles */
* {
  font-family: 'Maven Pro'
}

body {
  /* border: 4px solid steelblue; */
}

form {
  /* border: 4px solid salmon; */
  height: 80vh;
}

input {
  width: 80%;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  outline: none;
  border: none;
  /* border: 4px solid teal; */
  opacity: 70%;
  padding: 0 10px;
}

input:focus {
  outline: none;
}

.submit-button {
  border: none;
}

/* NAMETAG STYLING */
.nametag {
  /* border: 1px solid magenta; */
  height: 0vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;
}

.info-container {
  background-color: #f0dc8d;
  border-top-right-radius: 20px;
}

.contact-footer {
  background-color: #f0dc8d;
  height: 100px;
  display: none;
  justify-content: center;
  align-items: baseline;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#nametag-name {
  font-size: 5vw;
  background-color: #EAB003;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 5px 5px 15px;
  width: 50%;
  display: none;
}

.info-container {
  font-size: 3vw;
  padding: 5px 5px 5px 15px;
  display: none;
  height: 100%;
}
