/* Specific SHOW PAGE Styles */
.contact-name {
  font-size: 10vw;
  color: white;
  border-top-left-radius: 20px;
  padding: 5px 5px 5px 15px;
  margin-bottom: 15px;
  width: 80%;
}

.art {
  background-color: #9068be;
}

.production {
  background-color: #6ed3cf;
}

.director {
  background-color: #b56969;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.info-container {
  /* border: 1px solid black; */
  margin: 5px 0;
}
