/* Specific SHOW PAGE Styles */
* {
  font-family: 'Maven Pro'
}


.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-name {
  font-size: 6vw;
  background-color: #EAB003;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 5px 5px 15px;
  width: 60%;
}

.info-container {
  display: flex;
  background-color: #F6D13A;
}

.photo-container {
  /* border: 3px solid black;
  width: 25vw;
  margin-right: 5vw;
  background-image: url('../images/silhouette-disco.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.text-container {
  /* border: 3px solid teal; */
  font-size: 3vw;
}
