.main-container {
  height: 90vh;
  background-image: url("/images/rolodex-colorized.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background-color: white;
  background-image: none;
}

.logo {
  color: black;
}
