* {
  font-family: sans-serif;
}

body {
  background-color: white;
}

.site-container {
  width: 90vw;
  margin: 0 auto;
  /* border: 2px solid red; */
  background-color: white;
  height: 85vh;
}

/* NAV STYLES */
header {
  /* border: 5px solid teal; */
  width: 90vw;
  height: 10vh;
  margin: 0 auto;
}

header > ul {
  display: flex;
  justify-content: space-between;
  /* border: 5px solid red; */
}

header li {
  display: flex;
  align-items: center;
  list-style: none;
  /* border: 5px solid gold; */
}

/* LOGO */

header a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.logo {
  font-size: 3vw;
  letter-spacing: 5px;
  font-family: 'Maven Pro';
  /* border: 5px solid black; */
}

.logo-pipe {
  font-size: 1.3em;
  font-family: 'Maven Pro';
}

.logo-str {
  letter-spacing: 10px;
  font-family: 'Maven Pro';
  transition: 1s;
}

.logo-str:hover {
  letter-spacing:20px;
  transition: 1s;
}

.logo-o {
  font-family: 'Maven Pro';
  font-weight: 600;
  /* border: 1px solid black; */
  transition: .5s;
  animation-timing-function: ease-in;
  color: #EAB003;
  padding: 50px 50px 50px 0;
}

.logo-o:hover {
  margin-left: 80vw;
  padding: 0 700vw;
  transition: 15s;
}
