<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- ============ HEAD ============ -->
    <%- include ('../partials/head.ejs') %>
    <!-- ============/HEAD ============ -->
    <link rel="stylesheet" href="/css/newcontact.css">
    <script src="/js/new-contact.js" charset="utf-8"></script>
    <title></title>
  </head>
  <body>
    <div class="header-container">
      <!-- ============ HEADER ============ -->
      <%- include ('../partials/header.ejs') %>
      <!-- ============/HEADER ============ -->
    </div>
    <div class="nametag" id="nametag">
      <div id="nametag-name"></div>
      <div id="nametag-title"></div>
      <div id="nametag-department"></div>
      <div id="nametag-phone"></div>
      <div id="nametag-email"></div>
      <div id="nametag-distros"></div>
    </div>
    <form action="/contacts" method="POST">
    </form>
  </body>
</html>
