<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>NEW CONTACT</h1>
    <form action="/contacts" method="POST">
      Name: <input type="text" name="name"><br>
      Department: <input type="text" name="department"><br>
      Title: <input type="text" name="title"><br>
      Department Head? <input type="checkbox" name="departmentHead"><br>
      Phone: <input type="tel" name="phone"><br>
      Email: <input type="email" name="email"><br>
      BTL: <input type="checkbox" name="btl"><br>
      CORE: <input type="checkbox" name="core"><br>
      <br>
      Emergency Contact:<br>
      Contact Name: <input type="text" name="emergencyContactName"><br>
      Phone: <input type="tel" name="emergencyContactNumber"><br>
      Relationship: <input type="text" name="emergencyContactRelationship"><br><br>
      <input type="submit" value="Create New Contact">
    </form>
    <br><br>
    <h3>DISTROS:</h3>
    <% for(let i = 0; i < distros.length; i++){ %>
      <div>
        <a href="/distros/<%=distros[i].id%>"><%=distros[i].name%></a><br>
      </div>
      <br>
    <% } %>
    <a href="/contacts/">Return to Index</a>
  </body>
</html>
